.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#primary-menu, .menu, .nav-menu {
	display: block;
}

.entry-title, .post-edit-link, #masthead {
	display: none;
}

.post-thumbnail:first-of-type{
	width:100%; 
	height:30vh;
   overflow:hidden; 
}

.post-thumbnail>img:first-of-type{
	width:100%; 
}

.posts-conferences {
	display:flex;
	flex-direction: row;
	margin-bottom:3em;
}

.texte-conferences{
	display:flex;
	flex-direction: column;
	width:70vw;
	margin-left: 2em;
}

.conteneur-nouvelles{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
}

.posts-nouvelles {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.conteneur-evenements {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . .";
  }
